* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #fff;
}
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 10px 8%;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo {
    color: #db0001;
}
.lang {
    font-size: 16px;
}
.lang i:nth-child(1) {
    margin-right: 8px;
}
.lang i:nth-last-child(2) {
    margin-left: 8px;
}
.header-content {
    text-align: center;
}
.header-content h2 {
    margin-top: 25vh;
}
.header-content h3 {
    margin-top: 3vh;
}
.header-content p {
    margin-top: 10vh;
    margin-bottom: -2vh;
}
.add-email {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.add-email input {
    border: 0;
    outline: 0;
    flex: 1;
    margin-left: 20px;
}
.add-email button {
    border: 0;
    background-color: #db0001;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}
section {
    padding: 40px 10%;
}
section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
section h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-content {
    border-radius: 6px;
    background: linear-gradient(to right, #651c3d 0%, #280a2b 60%);
    padding: 40px;
    margin-bottom: 40px;
}
#banner p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
#banner button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.4);
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.select-menu {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px 24px;
    margin-top: 20px;
    font-size: 16px;
}
.select-menu option {
    background-color: #2b2b2b;
    color: #fff;
}

.memdership-content {
    border-radius: 6px;
    background: linear-gradient(to right, rgba(101, 28, 61, 0.9) 0%, rgba(40, 10, 43, 0.5) 60%), url(images/membership-bg.png) no-repeat right center;
    padding: 60px 40px;
    margin-bottom: 40px;
}
.memdership-content p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

#choice p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
.choice-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.card {
    flex: 1;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(25, 32, 68, 1) 0%, rgba(32, 19, 34, 1) 62%);
    padding: 40px;
    height: 300px;
    position: relative;
}
.bean-img {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.bean-img img {
    width: 100%;
    height: auto;
}

.faq .accordion {
    width: 100%;
    max-width: 750px;
    margin: 60px auto;
}
.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 300;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.accordion li label::after {
    content: '\2b';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transform: 0.5s;
}
.accordion input[type="radio"] {
    display: none;
}
.accordion .content {
    background: #3b3b3b;
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after {
    transform: rotate(-135deg);
}

.newsletter {
    padding: 20px 10%;
}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
    nav button {
        padding: 5px 10px;
    }
    .lang {
        padding: 4px 8px;
    }
    .header-content {
        width: 90%;
    }
    .header-content h2 {
        font-size: 48px;
        line-height: 50px;
    }
    .header-content h3 {
        font-size: 20px;
    }
    .add-email button {
        font-size: 12px;
        padding: 10px 15px;
    }
    
}

@media only screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1220px) {
    .card {
        flex-basis: calc(50% - 15px);
    }
}